<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand text-primary" routerLink="/">Lakeside Agency</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <ng-container *ngIf="myProps; else allProps">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="properties/mysell">Buy
              <span class="badge bg-secondary" *ngIf="sellNum > 0">{{mySell}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="properties/myrent">Rent 
              <span class="badge bg-secondary" *ngIf="rentNum > 0">{{myRent}}</span>
            </a>
          </li>
        </ng-container>

        <ng-template #allProps>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/">All
              <span class="badge bg-secondary">{{all}}</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="properties/sell">Buy
              <span class="badge bg-secondary" *ngIf="sellNum > 0">{{sellNum}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="properties/rent">Rent 
              <span class="badge bg-secondary" *ngIf="rentNum > 0">{{rentNum}}</span>
            </a>
          </li>
        </ng-template>        
        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-property">List Property</a>
        </li>        

      </ul>
      <ul class="d-flex login">
        <li *ngIf="!user">
          <a routerLinkActive="active" routerLink="/user/login">Login</a>
        </li>
        <li *ngIf="!user">
          <a routerLinkActive="active" routerLink="/user/register">Register</a>
        </li>
      </ul>
      <ul class="dropdown-ul" *ngIf="user">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{ user.userName }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="properties/my">
                My Properties <span class="badge bg-primary">{{ myAll }}</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="dashboard">
                View Dashboard
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)='authService.logout()'>
                Logout &nbsp; <i class="bi bi-box-arrow-right"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
